<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="base">
      <div class="name">
        Tom
      </div>
      <div class="time">
        2021/5/10 11:59:11
      </div>
    </div>
    <div class="comment">
      おはよう
    </div>
  </div>
  <div class="message">
    <div class="base">
      <div class="name">
        Tom
      </div>
      <div class="time">
        2021/5/10 11:59:16
      </div>
    </div>
    <div class="comment">
      こんばんは
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>